*{
    margin: 0;
    padding: 0;
   
}
body {
    font-family: Roboto,sans-serif;
    background-color:#fff;    
}
.logo{
    background-color: blue;
}
.logo a img{
    width: 130px;
    height: 100px;
}
.logo a{
    margin-right: 20px;
    display: inline-flex;
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
    text-align: center;
    margin-bottom: 5px;
}

