* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    background-color: darkgray;
    margin: 0
}
h2 {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}
.image{
    margin-top: 40px;
    margin-left: 20px;
}
aside {
    width: 30%;
    height: 280px;
    padding-left: 15px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    font-style: italic;
    background: rgba(255, 255, 255, 0.39);
}

aside .eventTable{
    margin: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}