*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('/assets/images/image.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginBox{
    width: 320px;   
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

h1{
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginBox label{
    font-weight: bold;
    margin-bottom: 20px;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox button{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
   
}
.loginBox button[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginBox button[type="submit"]:hover
{
    cursor: pointer;
    background: greenyellow;
    color: #000;
}

.loginBox a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.loginBox a:hover
{
    color: #39dc79;
}






























































