
header1 {
    background-color: #364150; 
    color:white;
    padding:10px;
}
a.brand {
    color:white;    
    text-decoration: none;
    padding-right: 30px;
    margin: 10px;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 5px;
}
body {
    font-family: Roboto,sans-serif;
    background-color: lightyellow;    
    margin:0px;
}